name: Push to Replicate

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Check disk space
        run: /usr/bin/df -h

      - name: Check big folders as candidate for deletion
        run: /usr/bin/du -BM --max-depth=1 / 2>&1 | awk '$1+0 >= 10 {print}'

      - name: Erase apt lists
        run: /usr/bin/rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

      - name: Erase docs
        run: /usr/bin/rm -rf /usr/share/doc/* /usr/share/man/* /usr/share/locale/*

      - name: Remove unnecesary packages
        run: /usr/bin/apt-get autoremove -y && /usr/bin/apt-get clean

      - name: Setup Cog
        uses: replicate/setup-cog@v1.0.0
        with:
          token: ${{ secrets.REPLICATE_API_TOKEN }}

      - name: Push to Replicate
        run: |
          cog push r8.im/niron1/rep-llama-2-7b-chat